$h1: calc(2.5rem + 1vw);
$h2: calc(2rem + 1vw);
$h3: calc(2rem + 1vw);
$li: calc(1rem + 0.5vw);
$p: calc(1rem + 0.5vw);

$color: rgb(255, 216, 222);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(55, 55, 55);
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
}

h1 {
  font-size: $h1;
  color: $color;
}

p {
  font-size: $p;
}

nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  padding-bottom: 5rem;

  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    font-size: $li;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: solid 1px #f2f2f2;
    transition: border-radius 1s;
    padding: 1rem 2rem;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    color: $color;
    &:hover {
      border: 1px solid #f2f2f2;
      border-radius: 83% 17% 85% 15% / 11% 87% 13% 89%;
    }
  }
}

.cta {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  h2 {
    text-align: center;
    font-size: $h2;
    max-width: 1000px;
    margin: 0 auto;
    color: $color;
  }
}

.images {
  max-width: 1500px;
  position: relative;
  padding: 0 5rem;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.project {
  clip-path: circle(0%);
  visibility: hidden;
  transition: 0.5s;
  height: 100%;
  max-height: 60vh;
  width: 100%;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
  }
}

#heart {
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
  }
  img {
    width: auto;
    height: 90%;
  }
}

a {
  text-decoration: none;
  color: black;
}

#nyt {
  background: #2b2b2b;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

svg {
  max-height: 40vh;
  max-width: 40vw;
}

#ignite {
  display: block;
  width: 90%;
  margin: 5%;
  background: rgb(248, 248, 248);
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.intro {
  visibility: visible;
  clip-path: circle(100%);
}

#sage {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    color: #87b583;
    padding: 1rem;
  }
}

#right {
  animation: turnright 2s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
#left {
  animation: turnleft 2s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes turnright {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(5deg) translateY(5%);
  }
}
@keyframes turnleft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-5deg) translateY(5%);
  }
}

@media screen and (max-width: 510px) {
  nav {
    padding: 5rem;
    display: block;
    text-align: center;

    ul {
      display: none;
    }
  }

  .project {
    visibility: visible;
    clip-path: circle(100%);
    position: relative;
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;
  }

  #ignite {
    margin: 0;
    margin-bottom: 5%;
    width: 100%;
  }

  .images {
    display: block;
    width: 90%;
    padding: 0;
  }

  .cta {
    display: none;
  }

  img {
    visibility: visible;
    position: relative;
    padding: 1rem 0;
  }
}
