* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #373737;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
}

h1 {
  font-size: calc(2.5rem + 1vw);
  color: #ffd8de;
}

p {
  font-size: calc(1rem + 0.5vw);
}

nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 5rem;
  padding-bottom: 5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav li {
  font-size: calc(1rem + 0.5vw);
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: solid 1px #f2f2f2;
  -webkit-transition: border-radius 1s;
  transition: border-radius 1s;
  padding: 1rem 2rem;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffd8de;
}

nav li:hover {
  border: 1px solid #f2f2f2;
  border-radius: 83% 17% 85% 15% / 11% 87% 13% 89%;
}

.cta {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.cta h2 {
  text-align: center;
  font-size: calc(2rem + 1vw);
  max-width: 1000px;
  margin: 0 auto;
  color: #ffd8de;
}

.images {
  max-width: 1500px;
  position: relative;
  padding: 0 5rem;
  margin: 0 auto;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.project {
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
  max-height: 60vh;
  width: 100%;
  position: absolute;
}

.project img {
  width: 100%;
  height: 100%;
  max-height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  position: absolute;
}

#heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#heart video {
  width: 100%;
  height: 100%;
  max-height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  position: absolute;
}

#heart img {
  width: auto;
  height: 90%;
}

a {
  text-decoration: none;
  color: black;
}

#nyt {
  background: #2b2b2b;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

svg {
  max-height: 40vh;
  max-width: 40vw;
}

#ignite {
  display: block;
  width: 90%;
  margin: 5%;
  background: #f8f8f8;
  text-align: center;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.intro {
  visibility: visible;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

#sage {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#sage h1 {
  color: #87b583;
  padding: 1rem;
}

#right {
  -webkit-animation: turnright 2s infinite alternate;
          animation: turnright 2s infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

#left {
  -webkit-animation: turnleft 2s infinite alternate;
          animation: turnleft 2s infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

@-webkit-keyframes turnright {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(5deg) translateY(5%);
            transform: rotate(5deg) translateY(5%);
  }
}

@keyframes turnright {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(5deg) translateY(5%);
            transform: rotate(5deg) translateY(5%);
  }
}

@-webkit-keyframes turnleft {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-5deg) translateY(5%);
            transform: rotate(-5deg) translateY(5%);
  }
}

@keyframes turnleft {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-5deg) translateY(5%);
            transform: rotate(-5deg) translateY(5%);
  }
}

@media screen and (max-width: 510px) {
  nav {
    padding: 5rem;
    display: block;
    text-align: center;
  }
  nav ul {
    display: none;
  }
  .project {
    visibility: visible;
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
    position: relative;
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;
  }
  #ignite {
    margin: 0;
    margin-bottom: 5%;
    width: 100%;
  }
  .images {
    display: block;
    width: 90%;
    padding: 0;
  }
  .cta {
    display: none;
  }
  img {
    visibility: visible;
    position: relative;
    padding: 1rem 0;
  }
}
/*# sourceMappingURL=main2.css.map */