$h1: 3rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(238, 238, 238);
}

.container {
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: $h1;
}

nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  padding-bottom: 5rem;

  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 71% 29% 68% 32% / 45% 40% 60% 55%;
    border: solid 1px;
    transition: border-radius 1s;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      border: 1px solid gray;
      border-radius: 39% 61% 23% 77% / 41% 56% 44% 59%;
    }
  }
}

.images {
  position: relative;
  padding: 0 5rem;
  margin: 0 auto;
  height: 80vh;
  padding-bottom: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

svg {
  max-height: 40vw;
  height: auto;
}

#ignite {
  display: block;
  max-height: 80vh;
  background: rgb(238, 238, 238);
  // background: rgb(68, 41, 41);
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.project {
  clip-path: circle(0%);
  visibility: hidden;
  transition: 0.5s;
  height: 100%;
  width: 110%;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
  }
}

#heart {
  video {
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
  }
  img {
    width: auto;
    height: 90%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

a {
  text-decoration: none;
}

#nyt {
  background: #2b2b2b;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.intro {
  visibility: visible;
  clip-path: circle(100%);
}

@media screen and (max-width: 510px) {
  nav {
    padding: 5rem;
    display: block;
    text-align: center;

    ul {
      display: none;
    }
  }

  .project {
    visibility: visible;
    clip-path: circle(100%);
    position: relative;
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;
  }

  #heart {
    img {
      height: 100%;
      top: 45%;
    }
  }

  .images {
    display: block;
    width: 90%;
    padding: 0;
    h2 {
      display: none;
    }
  }

  img {
    visibility: visible;
    position: relative;
    padding: 1rem 0;
  }
}
